.container {
  background-color: #15998E;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  font-family: "Lucida Console", monospace;
  color:white;
}


.container img {
  width: 350px;
  height: 350px;
  margin-right: 20px;
}

.wrapper {
  font-size: 15px;
}

button{
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #008080;
  font-weight: bold;
  box-shadow: 5px 8px 0 0 #016367;
}
