<div class="container">
    <h1>Hotline Contacts</h1>
    <p>If you feel like you are going through an especially difficult time, please do consider talking to a professional at the provided hotline contact</p>

    <div class="buttons">
      <button> Italy Suicide Hotline: 800860022 </button>
      <button>Suicide Prevention cen. Sant'Andrea Hospital 06 33777740</button>
      <button>Telefono Amico Centri in Rete Call 02-99777</button>
    </div>

    <p>If you feel more comfortable talking to a therapist. Please checkout the options available in your area</p>
</div>

