 <div class="container">
    <img src="assets/images/344804670_1457489721322020_3918455293066251586_n.png" alt="Image">
    <h1><strong>eating</strong> with <strong>order</strong></h1>

    <button class="first-button" (click)="navigateTo('test')">Do I have an eating disorder?</button>
    <div class="buttons">
      <div class="row">
        <button (click)="navigateTo('create-diary')">My Diary</button>
        <button>My Pet</button>
      </div>
      <div class="row">
        <button>My Calendar</button>
        <button>My Contacts</button>
      </div>
    </div>
  </div>

