<div class="container">
  <div class="text">
    <!--<h1>My Pet</h1>
    <p>You can talk to and listen to their advice. Remember! You are not going through this alone! And have fun!</p>
    -->
  </div>
  <div class="image-container">
    <div class="scroll-wrapper">
      <div class="image-wrapper">
        <img src="assets/images/IMG_0906.PNG" alt="Image 1">
        <img src="assets/images/IMG_0907.PNG" alt="Image 2">
        <img src="assets/images/IMG_0908.PNG" alt="Image 3">
      </div>
    </div>
    <button class="scroll-button" id="scroll-left" (click)="scrollImages('left')">&lt;</button>
    <button class="scroll-button" id="scroll-right" (click)="scrollImages('right')">&gt;</button>
  </div>
</div>
